.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

.App-name {
  margin-top: 0px;
}

.App-header {
  background-color: #282c34;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0;
}

.input {
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.validationChecks h3:first-child {
  margin-top: 20px !important;
}

.page-content {
  padding: 0px 10px !important;
}

.small-cell {
  width: 6%;
  text-align: center !important;
}

.results-header {
  background-image: linear-gradient(white, #FAFAFA)   !important;
  margin-top: 15px !important;
}

.custom-breadcrumb {
  height: 35px;
  background-color: grey;
  border-radius: .28571429rem;   
  border: 1px solid #BDBDBD;  
  background-image: linear-gradient(#E6E6E6, #F2F2F2)   !important;
}

.message-left {
  position: absolute !important;
  left: 0 !important;
  padding-top: 8px !important;
  width: 250px;
  height: 37px;
  text-align: center !important;
}

.buttons-right {
  position: absolute !important;
  right: 0 !important;        
}

.ui.input.error>input {
  background-color: #fff6f6 !important;
}

.positive-input>input {
  background-color: green !important;
}

.custom-input>input {
  background-color: white !important;
}